services:
    db:
        image: postgres:18-alpine
        container_name: postgres
        hostname: postgres
        restart: unless-stopped
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USERNAME: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_INITDB_ARGS: "--data-checksums"
        volumes:
            - postgres_data:/var/lib/postgresql/data
            - $PWD/docs/.postgres/postgres.conf:/etc/postgresql/postgresql.conf:ro # configuration file
            - $PWD/docs/.postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro # initialization script
        networks:
            - postgres_network
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready --username postgres --dbname postgres" ]
        command: [ "postgres", "-c", "config_file=/etc/postgresql/postgresql.conf" ]

volumes:
    postgres_data:
        name: postgres_data
        driver: local

networks:
    postgres_network:
        name: postgres_network
        driver: bridge
